
<h1>Track List</h1>





    <label>Sort by: </label>
    <select name="stuff" onchange="resort(this)">
      <% @choice.each do |c|%>
          <option value="<%= c %>"><%= c %></option>
      <% end %>
    </select>



<ul onload="fnDraw()">
<% @items.each do |item| %>
  <li>
    <%= item.name %>
    <%= item.price %>
    <%= link_to('Destroy', item_path(item.id), method: :delete, 'data-confirm' => 'Are you sure?') %>
  </li>
  <% end %>
</ul>


<%= link_to('Add a new track!', new_item_path, class: "link") %>
