<!DOCTYPE html>
<html>
<head>
  <title>DigitalGrooves</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to('Home', root_path) %>
    <span>&nbsp;|&nbsp;</span>
    <%= link_to('About', about_path) %>
    <span>&nbsp;|&nbsp;</span>
    <%= link_to('Items', items_path) %>
  </nav>
 <%= yield %>

  <footer>
    copyright &copy; <%= Time.now.year %>
  </footer>
</body>
</html>
